<%= div_for comment do %>
  <p>
    <strong>Posted at <span title="<%= comment.created_at.to_formatted_s %>">
      <%= time_ago_in_words(comment.created_at) %></span>
    </strong>
    <br />
    <%= h(comment.body) %>
  </p>
<% end %>
