<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<h2>Comments</h2>
<% if @post.comments %>
  <div id="comments">
    <%= render :partial => @post.comments.reload %>
  </div>
<% end %>

<%= form_for ([@post, @comment]) do |f| %>
  <%= render "shared/error_messages", :target => f.object %>
  <p>
    <%= f.label :body, "New Comment" %>
    <%= f.text_area :body %>
  </p>
  <p><%= f.submit "Add Comment" %></p>
<% end %>
